* {
    margin: 0;
    padding: 0;
}

body {
    width: 99.5vw;
    height: 100vh;
    margin: auto;
}

/* college descreption */

#col-desc {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

#logo {
    height: 100%;
}

#logo img {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

#red {
    width: 60%;
    height: 100%;
    background-color: #cf2c31;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 8px;
}

#blue {
    width: 20%;
    height: 100%;
    background-color: #071b8b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.col-details {
    width: 80%;
}

.col-contacts {
    width: 20%;
}

.col-details p {
    font-size: 1vw;
}

#mail,
#phone {
    color: white;
    text-decoration: none;
    line-height: 20px;
    font-size: 1vw;
}

#blue p {
    line-height: 25px;
    font-size: 1vw;
}

#mail:hover,
#phone:hover {
    color: black;
    text-decoration: none;
}

/* header */
#menu-img {
    width: 99.5vw;
}

.overlay {
    width: 99.5vw;
    height: 10%;
    position: absolute;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.5);
}

header {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 10%;
    height: 10%;
}

.nav ul {
    display: flex;
    margin: auto;
}

.nav ul li {
    margin: 10px;
}

.nav li {
    list-style-type: none;
    position: relative;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    padding: 5px;
    position: relative;
}

.nav li ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    margin-top: 1vh;
    border-radius: 5%;
    display: none;
    opacity: 0;
    z-index: 1;
}

.nav li ul li {
    line-height: 2vh;
    width: max-content;
    margin: 20px;
    position: relative;
    text-align: left;
    font-weight: 500;
}

.nav li ul li a:hover {
    color: #071b8b;
}

.nav li:hover .hover-color {
    border-bottom: solid 5px #cf2c31;
}

.nav li:hover>ul {
    display: block;
    opacity: 1;
}

.nav li ul li ul {
    position: absolute;
    left: 100%;
    transform: translateY(-20%);
}

#down-caret {
    position: relative;
    float: right;
    margin-left: 0;
    width: 1.2vw;
    height: 3vh;
}

#right-caret {
    float: right;
    width: 2vw;
    height: 3vh;
    margin-left: 0;
}

h1 {
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 1.5vw;
}

h1 a {
    color: white;
}

h1 a:hover {
    color: #cf2c31;
}

#nav-span {
    font-size: 2vw;
}

/* Links and Details */
.links-and-details {
    display: flex;
    margin: 3% 0;
}

#link-section-seperator {
    background-color: #071b8b;
    height: 0.1vh;
    margin: 5px;
}

.links-details {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 30%;
}

.links-details h2 {
    margin-bottom: 0;
    color: #071b8b;
    font-size: 2vw;
}

.links-details p {
    font-size: 1.3vw;
    color: #555555;
}

.links-details p a {
    text-decoration: none;
}

.links-container {
    /* width: 99.5vw; */
    display: flex;
    width: 90vw;
}

.useful-links {
    /* flex: 1; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 20px 20px 0;
}

.useful-links a {
    color: black;
    text-decoration: none;
    font-size: 1.4vw;
    line-height: 5vh;
}

.useful-links p a:hover {
    color: #071b8b;
}

#tick-emoji {
    color: #cf2c31;
}

.get-in-touch {
    width: 30%;
}

.get-in-touch p {
    line-height: 5vh;
    font-size: large;
}

.get-in-touch h2 {
    color: #071b8b;
    margin-bottom: 20px;
}

.get-in-touch a {
    color: black;
    text-decoration: none;
}

/* footer */
footer {
    width: 99.5vw;
    background-color: #071b8b;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-conts {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.foot-conts p {
    color: white;
}

.foot-conts a {
    text-decoration: none;
}

#top {
    font-size: 3vw;
    display: flex;
    align-items: center;
}

#top-nav {
    visibility: hidden;
    font-size: 2vw;
    align-items: center;
}

#top:hover>#top-nav {
    visibility: visible;
}

/* IQAC Description */
#curriculum {
    width: 90%;
    border: solid 2px #cf2c31;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#curriculum h2 {
    text-align: center;
    color: #071b8b;
    width: max-content;
    font-size: 5vh;
    margin: 3%;
    margin-bottom: 2%;
    margin-top: 1%;
}

#curriculum p {
    color: #555555;
    width: 95%;
    font-size: 1.3vw;
    line-height: 4vh;
}

#curriculum ul {
    width: 95%;
}

#curriculum li {
    color: #555555;
    list-style-type: none;
    line-height: 4vh;
    font-size: 1.2vw;
}

#curriculum li ul{
    margin-left: 3%;
}

#curriculum li a {
    color: #cf2c31;
    font-weight: 500;
    text-decoration: none;
}

#curriculum li a:hover {
    color: #071b8b;
}

#pointer {
    color: #cf2c31 !important;
}


/* media queris for responsive design */


@media screen and (max-width: 600px) {
    #col-desc {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-nav {
        display: flex;
        display: inline-block;
        position: absolute;
        top: 13.5%;
        right: 5%;
        border: solid 1px black;
        padding: 0 2%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5%;
    }

    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        float: right;
    }

    .hamburger .bar,
    .hamburger:after,
    .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #fff;
        margin: 6px 0px;
        transition: 0.4s;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -8px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .nav {
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.99);
        border: solid 1px rgba(0, 0, 0, 0.5);
        border-radius: 3%;
        width: 70%;
        height: max-content;
        top: 23%;
        visibility: hidden;
        transform: scaleY(0);
        transform-origin: top center;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 0;
    }

    .nav.visibility {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }

    .visibility {
        visibility: visible;
        transition: 0.5s;
    }

    .nav li ul {
        border: solid 1px rgba(0, 0, 0, 0.5);
    }

    .nav ul {
        flex-direction: column;
    }

    #down-caret {
        width: 5vw;
        float: initial;
        position: absolute;
        left: 100%;
        transform: translateY(-5%);
    }

    .nav li a {
        font-size: 100%;
        line-height: 3vh;
    }

    .anomaly {
        position: relative;
        background-color: red;
    }

    .anomaly-sub {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #obe {
        display: none;
    }

    .overlay {
        display: none;
    }

    #logo {
        width: 100vw;
        display: flex;
        align-items: center;
    }

    #logo img {
        width: 100%;
        background-color: white;
    }

    #blue,
    #red {
        display: none;
    }

    h1 {
        top: 14%;
        font-size: 4.5vw;
    }

    #nav-span {
        font-size: 5vw;
    }

    #curriculum h2 {
        width: 90vw;
        font-size: 5.5vw;
    }

    #curriculum ul {
        display: flex;
        flex-direction: column;
    }

    #curriculum p {
        font-size: 3.9vw;
        line-height: 3vh;
    }

    #curriculum li {
        font-size: 3.5vw;
    }

    footer {
        width: 100vw;
    }

    .links-and-details {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    .get-in-touch h2 {
        font-size: 5vw;
        width: 200%;
    }

    .links-details h2 {
        font-size: 5vw;
    }

    #contact-p-responsive {
        font-size: 4vw;
        margin-top: 0;
        width: 250%;
    }

    .useful-links p a {
        font-size: 4vw;
    }

    .get-in-touch {
        margin: 20px;
    }

    .get-in-touch p {
        line-height: 3vh;
        font-size: 4vw;
        width: 300%;
    }
}